<ion-header>
  <ion-toolbar>
    <ion-title>Avaliador</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">sair</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
  <ion-item-sliding *ngFor="let artigo of artigos">
    <ion-item >
      <ion-label >{{artigo.id}} - {{artigo.titulo}}</ion-label>

    </ion-item>

    <ion-item-options> 
      <ion-item-option (click)="aceitar(artigo.id)">Aceito</ion-item-option>
      <ion-item-option color="danger" (click)="recusar(artigo.id)">Recusado</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
  <ion-label color="{{mensagemCor}}">{{mensagem}}</ion-label>
</ion-content>

